:root {
    --primary-text-color:#2E2F42;
    --secondary-text-color:#434455;;
    --accent-color: #404BBF;
    --primary-color: #FFFFFF;
    --card-set-gap: 24px;   
   
}

header {
    border-bottom: 1px solid #ECECEC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    letter-spacing: 0.02em;
}
/* Утилиты */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


a:link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: auto;
    
 }

.logo-web, .logo-studio-header {
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
 }

 .logo-web {
 color: #4D5AE5;
transform: translateY(30%);
 }

 .logo-studio-header {
    color:#2E2F42;
 }

 .logo-studio-footer {
    line-height: 1.17;
 }
 
.main-nav > .logo-web {
   margin-right: 76px;
} 

.nav, .main-nav {
    display: flex;

   
    /* text-align: center; */
  /* vertical-align: middle; */
}

.site-nav, .contacts {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;   
    padding-top: 24px;
    padding-bottom: 28px;
}

 .site-nav {
    font-weight: 500;
}

.contacts {
    font-weight: 400;
}

.site-nav .item:not(:last-child),
.contacts .item:not(:last-child) {
    margin-right: 40px;
}

.contacts {
    margin-left: auto; 
}

.contacts .item {
    display: flex;
    align-items: center;
}

.item .current {
    position: relative; 
}
.current, .non-current {
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .current::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 45px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
    
.site-nav .non-current {
color: var(--primary-text-color) 
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav .current,
.project-nav button:hover, 
.project-nav button:focus,
.project-nav .current,
.contacts-footer a:hover,
.contacts-footer a:focus
{
 color: var(--accent-color);
}

.tel, .mail {
    display: flex;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.icon-envelope {
    width: 16px;
    height: 12px;
    align-self: flex-start;
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 10px;
}

.icon-smartphone {
    width: 10px;
    height: 16px;
    align-items: center;
    fill: var(--secondary-text-color);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.contacts .mail:hover > .icon-envelope,
.contacts .mail:focus > .icon-envelope,
.contacts .mail:hover,
.contacts .mail:focus,

.contacts .tel:hover>.icon-smartphone,
.contacts .tel:focus>.icon-smartphone,
.contacts .tel:hover,
.contacts .tel:focus {
       color: var(--accent-color);
       fill: var(--accent-color);
   }

.hero {
    display: block;
    height: 600px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/page1/group-people-working-website-template.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #303030; /*если не загрузится картинка */
    margin: auto;
    padding-top: 188px ;
    }

.hero-title {
    margin-bottom: 48px;   
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;           
}

.hero-button {
    display: block;
    padding: 16px 32px;
    margin: auto;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p {
    color: var(--secondary-text-color);
}

.section-features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0;
    margin: 0;    
 }

 .feature-list > .features-item {
   flex-basis: calc((100% - (3 * var(--card-set-gap)))/4);
 }

.features-item:not(:last-child) {
    margin-right: var(--card-set-gap);
    padding: 0;     
}

.features-background {
    display: flex;
    height: 112px;
    background-color: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.features-svg {
    display: flex;
    width: 70px;
    height: 70px;
}
 
.features {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;  
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* -- Чим ми займаємось -- */
.section-images {
    padding-bottom: 120px;
}

.section-images .title {
    margin-bottom: 72px;
}

.images-list {
    display: flex;
    padding: 0;
    margin: 0;
}

 .images-list .item:not(:last-child) {
    margin-right: var(--card-set-gap);
 }

 .images-list  .item {
    position: relative;
 }

 .item-apps {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding-top: 27px;
    text-align: center;
    color: var(--primary-color);
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    
 }

 /* -- Команда --*/
 .section-team {
   background-color:#F4F4FD;
   padding-top: 120px;
   padding-bottom: 120px;
 }

.title, .team-title, .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team {
    display: flex;
    padding: 0;
    margin: 0;
}

.team-title {
   margin-bottom: 72px ;
}

.team > .team-item:not(:last-child) {
    margin-right: var(--card-set-gap);
}
.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    /* overflow: hidden; */
}

.team-item > .card-content {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    background-color: var(--primary-color);
}

.team-members {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}
    
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    margin-bottom: 8px;
    color: var(--secondary-text-color);
}

.social-networks {   
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 0;
}

.social-networks-item {
    display: flex;    
}

.social-networks-item:not(:last-child) {
    margin-right: 24px;
}

.social-networks-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-svg {
    fill: #AFB1B8;
    border: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .social-networks-link:hover>.social-networks-svg,
 .social-networks-link:focus>.social-networks-svg {
    fill: #F4F4FD;
 }
 
.social-networks-link:hover,
.social-networks-link:focus {
    background-color: #4D5AE5;
}
.section-clients {
    padding-top: 120px;
    padding-bottom: 120px;
  
}
.clients-title {
  margin-bottom: 72px;
}

.clients {
    display: flex;
    padding: 0;
    margin: 0;
}

.clients-item {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
}

.clients-item:not(:last-child) {
    margin-right: var(--card-set-gap);    
}

.clients-link {
    display: flex;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
    display: block;
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover > .clients-svg,
.clients-link:focus > .clients-svg {
    fill: var(--accent-color);
  
}

.clients-link:hover,
.clients-link:focus {
 border: 1px solid var(--accent-color);
}

footer {
    background-color:var(--primary-text-color);
    height: 310px;
   
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 264px;
}

.footer p {
    margin-top: 16px;
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}

.logo-studio-footer, .address {
    color: #FFFFFF;    
}

/* .contacts-footer {
    margin-top: 20px;
   
} */ 

/* .mail-footer,
.tel-footer {
    color: rgba(255, 255, 255, 0.6);

} */
/* .address, .mail-footer, .tel-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;    
} */

 /* .address:not(:last-child),
 .mail-footer:not(:last-child) {
    margin-bottom:  9px;
 } */

.footer-flex {
    display: flex;
}

.footer-links {
    padding-top: 100px;
    margin-left: 120px;
    justify-content: left;   
    
}

.footer-title {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}
   
.footer-links > .social-networks-item:not(:last-child) {
    margin-right: 16px;
}

.footer-links .social-networks-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links .social-networks-svg {
    fill: var(--primary-color);
    
}

.social-networks-link:hover,
.social-networks-link:focus {
    background-color: var(--accent-color);
}

/* Подписка */

.subscribe {
    margin-left: 80px;
}


.subscribe-form {
    display: flex;
    padding: 0;
    margin-top: 16px;
}


.subscribe-form-input {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   
}


.submit {
    display: flex;
    align-items: center;
    padding-left: 24px;
    margin-left: 24px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.submit-svg {
    margin-left: 16px;
    width: 24px;
    height: 24px;
}

/* page 2 */ 

.projects-all {   
    padding-top: 96px;   
    padding-bottom: 120px;  
}

.project-buttons {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
    justify-content: center; 
    align-items: center;
}

.project-buttons button {
    padding: 12px 24px;
    margin-right: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#4D5AE5;
    background: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    cursor: pointer;  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.project-buttons button:hover,
 .project-buttons button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
   
.projects-photo  {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap)); 
    padding-left: 0;  
    
      
}

.projects-photo > .item {
  
    border: 1px solid #E7E9FC;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    /* flex-basis: calc((100% - (2 * var(--card-set-gap)))/3); */
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}


.card-thumb {
    position: relative;
    overflow: hidden;
}

.card-link:hover  .overlay-text,
.card-link:focus  .overlay-text {

    transform: translate(0, 0);
}

.projects-photo > .item:hover,
.projects-photo > .item:focus  {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-card-content {
    padding-left: 16px;
    /* justify-content: left; */
    padding-top: 32px; 
    padding-bottom: 32px;   
}
 .project-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.card-thumb .project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
    /* padding-bottom: 20px; */ 
}


/* Модалка */

.backdrop {
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 24px;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 584px;
    background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal-button {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    top:24px;
    right: 24px;
    border-radius: 50%;
    cursor: pointer;   
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}
 
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 14px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    color: var(--primary-text-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus  {
    outline: none;
    border: 1px solid #4D5AE5;
 }
 .modal-input:focus + .modal-icon {
    fill: #4D5AE5; ;
 }

 .modal-field {
    margin-bottom: 8px;
 }
 .input-descr {
    /* display: block; */
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
 }
 .modal-wrapper {
     position: relative;
 }
 .modal-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-100%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-message {
    width: 100%;
    resize: none;
    height: 120px;
    padding-left: 16px;
    padding-top: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--primary-text-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

  .modal-message:focus {
    outline: none;
    border: 1px solid #4D5AE5;
 }

  .modal-check-descr {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33px;        
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
    align-items: center;
 }

  .modal-check-descr::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
    background-image: url(../images/svg/icon-check.svg);
    margin-right: 8px;
}

 .modal-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.04em;
    padding-top: 8px;
 }

 .modal-check-descr a {
    text-decoration: underline ;
 }

 modal-form-check {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

  .modal-form-check:checked + .modal-check-descr::before {
    background-color: #4D5AE5;
    border: none;
  }

  .modal-form-submit {
    width: 169px;
    height: 56px;
    align-self: center;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    cursor: pointer;
 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }